.Button .ButtonA{
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 10px 16px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.Button .ButtonA:hover{
    background: var(--color-white);
    color: var(--color-purple) ;
    transition: 0.3s ease-in;
    cursor: pointer;
}